

.homeBannerContainer {
    position: relative;
    margin-bottom: 6%;
    margin-top: 10%;
  }
  .homeBannerContainer .HomeBanner {
    position: relative;
    width: 100%;
    height: 35vw;
    background-color: red;
  
    background: url("../../../public/banner2.jpg");
  
    background-size: cover;
  }
  
  .HomeBanner .textHeading {
    
    text-align: center;
    text-shadow: 21px 12px 25px rgb(11, 11, 11);
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 3vw;
    width: 100%;

    padding: 10%;
    padding-top: 250px;
    font-weight: 600;
  }
  .HomeBanner .textHeading::selection {
    color: rgb(255, 255, 255);
    background: rgb(0, 0, 0);
  }
