@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap");

.UpcomingEvent {
  width: 100%;
}
.UpcomingEvent h1 {
  text-align: center;
  font-size: 3vw;
  padding-top: 2%;
  font-family: "Kanit", sans-serif;
  text-transform: uppercase;
}

.UpcomingEvent .bannerImage {
  display: flex;
  margin-top: 3%;
  margin-bottom: 5%;
  justify-content: center;
}
.UpcomingEvent .bannerImage .imageSection {
  position: relative;
  width: 35%;
  height: 45vw;
}

.UpcomingEvent .eventDetails {
  display: flex;
  padding-bottom: 5%;
  width: 100%;
  height: auto;
  background-color: #f9f9f9;
}

.UpcomingEvent .eventDetails .left {
  width: 50%;
}
.UpcomingEvent .eventDetails .left h1 {
  margin-top: 50%;
  margin-bottom: 20%;
  font-size: 2vw;
}

.UpcomingEvent .eventDetails .right {
  width: 50%;
}

.UpcomingEvent .eventDetails .right .quote {
  margin-top: 5%;
  font-weight: 600;
  font-size: 3vw;
  color: red;
}

.UpcomingEvent .eventDetails .right p {
  margin-top: 2%;
  width: 90%;
  font-size: 1.3vw;
  color: black;
}
.UpcomingEvent .eventDetails .right p {
  display: flex;
}
.UpcomingEvent .eventDetails .right p span {
  padding-top: 0.8%;
  color: rgb(255, 106, 0);
  margin-right: 1%;
}
.UpcomingEvent .eventDetails .right h4 {
  padding-top: 0.8%;
  color: rgb(255, 0, 0);
  margin-right: 1%;
  margin-top: 2%;
  font-size: 1.5vw;
}

.UpcomingEvent .eventDetails .details p {
  color: black;
  font-size: 1vw;
  margin-bottom: 5%;
}

.UpcomingEvent .eventDetails .right h5 {
  color: rgb(44, 44, 44);
  width: 80%;
}

.UpcomingEvent p {
  font-size: 1.3vw;
  text-transform: uppercase;
  color: rgb(103, 103, 103);
}

.UpcomingEvent .section {
  width: 100%;
  height: auto;

}

.UpcomingEvent .section .card {
  width: 100%;
  height: 30vw;
 
}
.section {
  display: flex;
  margin-top: 5%;
}
/* ---- */
.gallerySection .sectionMain{
    display: flex;
    margin-top: 2%;
    margin-bottom: 4%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallerySection .sectionMain .card{
margin-bottom: 3%;
}
.gallerySection p {
  text-align: center !important;
}

.gallerySection .image {
  position: relative;
  width: 27vw;
  height: 18vw;
  margin-left: 2%;
}











.gallerySection{
  width: 100%;
}

.gallerySection h1{
margin-top: 10%;
  text-align: center;
text-transform: uppercase;
  font-size: 3.2vw;
font-weight: 600;
}

.gallerySection .format{
display: flex;
margin-top: 1%;
flex-wrap: wrap;
justify-content: space-evenly;
position: relative;
}
.gallerySection .format video{
  width: 30vw;
  margin-bottom: 4%;
  height: 20vw
}


@media only screen and (min-width: 0px)and (max-width:800px)   {

  .videoSection{
      width: 100%;
  }
  
  .videoSection h1{
  margin-top: 3%;
      text-align: center;
  text-transform: uppercase;
      font-size: 3.2vw;
  font-weight: 600;
  }
  
  .videoSection .format{
  display: flex;
  margin-top: 3%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  }
  .videoSection .format video{
      width: 90vw;
      margin-bottom: 4%;
      height: 40vw
  }
  
}








@media only screen and (min-width: 0px)and (max-width:800px)   {



  .UpcomingEvent h1 {
    text-align: center;
    font-size: 3vw;
    padding-top: 2%;
    font-family: "Kanit", sans-serif;
    text-transform: uppercase;
  }
  
  .UpcomingEvent .bannerImage {
    display: flex;
    margin-top: 3%;
    margin-bottom: 5%;
    justify-content: center;
  }
  .UpcomingEvent .bannerImage .imageSection {
    position: relative;
    width:55%;
    height: 75vw;
  }
  
  .UpcomingEvent .eventDetails {
    display: flex;
    padding-bottom: 5%;
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
  }
  
  .UpcomingEvent .eventDetails .left {
    width: 50%;
  }
  .UpcomingEvent .eventDetails .left h1 {
    margin-top: 50%;
    margin-bottom: 20%;
    font-size: 2vw;
  }
  
  .UpcomingEvent .eventDetails .right {
    width: 50%;
  }
  
  .UpcomingEvent .eventDetails .right .quote {
    margin-top: 5%;
    font-weight: 600;
    font-size: 3vw;
    color: red;
  }
  
  .UpcomingEvent .eventDetails .right p {
    margin-top: 2%;
    width: 90%;
    font-size: 1.3vw;
    color: black;
  }
  .UpcomingEvent .eventDetails .right p {
    display: flex;
  }
  .UpcomingEvent .eventDetails .right p span {
    padding-top: 0.8%;
    color: rgb(255, 106, 0);
    margin-right: 1%;
  }
  .UpcomingEvent .eventDetails .right h4 {
    padding-top: 0.8%;
    color: rgb(255, 0, 0);
    margin-right: 1%;
    margin-top: 2%;
    font-size: 1.5vw;
  }
  

  .UpcomingEvent .eventDetails .right h5 {
    padding-top: 0.8%;
    color: rgb(255, 0, 0);
    margin-right: 1%;
    margin-top: 2%;
    font-size: 1.5vw;
  }
  
  .UpcomingEvent .eventDetails .details p {
    color: black;
    font-size: 1vw;
    margin-bottom: 5%;
  }
  
  .UpcomingEvent .eventDetails .right h5 {
    color: rgb(44, 44, 44);
    width: 80%;
  }
  
  .UpcomingEvent p {
    font-size: 1.3vw;
    text-transform: uppercase;
    color: rgb(103, 103, 103);
  }
  
  .UpcomingEvent .section {
    width: 100%;
    height: auto;
  
  }
  
  .UpcomingEvent .section .card {
    width: 100%;
    height: 30vw;
   
  }
  .section {
    display: flex;
    margin-top: 5%;
  }
  /* ---- */
  .gallerySection .sectionMain{
      display: flex;
      margin-top: 2%;
      margin-bottom: 4%;
      justify-content: space-evenly;
      flex-wrap: wrap;
  }
  .gallerySection .sectionMain .card{
  margin-bottom: 3%;
  }
  .gallerySection p {
    text-align: center !important;
  }
  
  .gallerySection .image {
    position: relative;
    width: 27vw;
    height: 18vw;
    margin-left: 2%;
  }
  
}